<template>
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-300">
  <div class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-md w-full max-w-md">
    <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">Авторизация</div>
    <div class="mt-10">
        <div class="flex flex-col mb-6">
          <label for="email" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Электронная почта:</label>
          <span v-show="errors.login" class="mb-1 text-xs sm:text-sm tracking-wide text-red-600">{{ errors.login }}</span>
          <div class="relative">
            <input id="email" v-model="login" type="email" name="email" class="text-sm sm:text-base placeholder-gray-500 pl-4 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Электронная почта" />
          </div>
        </div>
        <div class="flex flex-col mb-6">
          <label for="password" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Пароль:</label>
          <span v-show="errors.password" class="mb-1 text-xs sm:text-sm tracking-wide text-red-600">{{ errors.password }}</span>
          <div class="relative">
            <input id="password" v-model="password" type="password" name="password" class="text-sm sm:text-base placeholder-gray-500 pl-4 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Пароль" />
          </div>
        </div>
        <div class="flex w-full">
          <button @click="loginForm" class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-[#6A64F1] rounded py-2 w-full transition duration-150 ease-in">
            <span class="mr-2 uppercase">Войти</span>
          </button>
        </div>
    </div>
  </div>
</div>
</template>
<script>
import { login as loginRequest } from '@/rest/api.js';

export default {
  name: 'LoginView',
  data() {
    return {
      login: '',
      password: '',
      errors: {},
    }
  },
  methods: {
    loginForm() {
      const params = { 
        login: this.login.trim(),
        password: this.password.trim() 
      };

      loginRequest(params)
          .then((res) => {
            if (!res.messages) {
              localStorage.setItem('token', res);
              this.$store.commit('changeAuthState', true);
              this.$store.dispatch('getUserData', res);
              this.$router.push('/');
            } else {
              this.errors = {};
              for (let key in res.messages) {
                this.errors[key] = res.messages[key];
              }
            }
          })
          .catch(err => err)
    }
  }
}
</script>