<template>
    <div class="flex justify-start">
    <div class="container flex justify-start items-center mx-auto mb-5">
        <div class="flex flex-col">
            <label v-if="errors.search" class="text-red-400">Выберите один из вариантов:</label>
            <label v-else>Выберите тип:</label>
            <select v-model="search.type" class="text-xl mr-4 font-medium rounded border-2 border-purple-700 text-gray-600 py-3 pl-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                <option value="">Выберите опцию</option>
                <option value="account">Лицевой счет</option>
                <option value="phone">Номер телефона</option>
                <option value="full_name">ФИО</option>
            </select>
        </div>
        <div class="flex flex-col">
            <label>Значение:</label>
            <input
                type="text"
                placeholder="+992000000000"
                class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 mr-4 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                v-model="search.value"
            />
        </div>
        <div>
            <button 
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 mr-4 text-base font-semibold text-white outline-none"
                @click="searchForm"
            >
                Поиск
            </button>
            <button 
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 mr-4 text-base font-semibold text-white outline-none"
                @click="clearForm"
            >
                Очистить
            </button>
            </div>
        <RouterLink class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none" to="/requests/create">Создать</RouterLink>
    </div>
    </div>
    <div class="w-full flex justify-center">
    <div class="container">
    <h1 class="text-3xl py-2" v-if="!this.requests.length">Нет результатов</h1>
    <table v-else class="border-collapse w-full">
    <thead>
        <tr>
            <th v-show="$store.state.user.type == 'backoffice'" class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Ответственный</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Номер счета</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">ФИО</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Номер телефона</th>
            <th class="px-8 py-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Статус</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Дата</th>
            <th v-show="$store.state.user.type == 'backoffice'" class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Комментарий</th>
            <th v-show="$store.state.user.type == 'backoffice'" class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="request in requests" class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0" :key="request.id">
            <td v-show="$store.state.user.type == 'backoffice'" class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Ответственный</span>
                {{ request.operator.name }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Номер счета</span>
                {{ request.account }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">ФИО</span>
                {{ request.full_name }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Номер телефона</span>
                {{ request.phone }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Статус</span>
                <span v-if="request.status == 'new'" class="rounded bg-gray-400 py-1 px-3 text-xs font-bold">{{ 'Новый' }}</span>
                <span v-if="request.status == 'cancelled'" class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ 'Отменен' }}</span>
                <span v-if="request.status == 'inprogress'" class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold">{{ 'В процессе' }}</span>
                <span v-if="request.status == 'success'" class="rounded bg-green-400 py-1 px-3 text-xs font-bold">{{ 'Успешно' }}</span>
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Дата</span>
                {{ request.created_at }}
            </td>
            <td v-show="$store.state.user.type == 'backoffice'" class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Комментарий</span>
                {{ request.operator_comment != null ? request.operator_comment.comment : '' }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Действия</span>
                <a v-if="(request.status == 'inprogress' || request.status == 'new') && $store.state.user.type == 'backoffice'" @click="routeToEdit(request.id)" href="#" class="text-blue-400 hover:text-blue-600 underline">Редактировать</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</template>
<script>
import { getAllRequests, searchRequests } from '@/rest/api';

export default {
    data() {
        return {
            requests: [],
            search: {
                type: '',
                value: ''
            },
            errors: {}
        }
    },
    methods: {
        getRequests() {
            getAllRequests()
                .then(res => this.requests = res);
        },
        routeToEdit(id) {
            return this.$router.push({ name: 'edit-request', params: { id } })
        },
        searchForm(e) {
            if (this.search.type == '') {
                this.errors.search = true;
                e.preventDefault();

                return;
            }
            searchRequests(this.search)
                .then(res => {
                    this.errors = {}
                    this.requests = res
                });
        },
        clearForm() {
            this.search.type = '';
            this.search.value = '';
            this.getRequests()
        }
    },
    created() {
        this.getRequests();
    }
}
</script>