<template>
    <div class="w-full flex justify-center">
    <div class="container">
    <h1 class="text-3xl py-2" v-if="!this.requests.length">Нет результатов</h1>
    <table v-else class="border-collapse w-full">
    <thead>
        <tr>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Ответственный</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Номер счета</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">ФИО</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Номер телефона</th>
            <th class="px-8 py-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Статус До</th>
            <th class="px-8 py-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Статус</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Дата</th>
            <th class="p-2 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Комментарий</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="request in requests" class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0" :key="request.id">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Ответственный</span>
                {{ request.operator.name }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Номер счета</span>
                {{ request.request.account }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">ФИО</span>
                {{ request.request.full_name }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Номер телефона</span>
                {{ request.request.phone }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Статус До</span>
                <span v-if="request.pre_status == 'new'" class="rounded bg-gray-400 py-1 px-3 text-xs font-bold">{{ 'Новый' }}</span>
                <span v-if="request.pre_status == 'cancelled'" class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ 'Отменен' }}</span>
                <span v-if="request.pre_status == 'inprogress'" class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold">{{ 'В процессе' }}</span>
                <span v-if="request.pre_status == 'success'" class="rounded bg-green-400 py-1 px-3 text-xs font-bold">{{ 'Успешно' }}</span>
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Статус</span>
                <span v-if="request.status == 'new'" class="rounded bg-gray-400 py-1 px-3 text-xs font-bold">{{ 'Новый' }}</span>
                <span v-if="request.status == 'cancelled'" class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ 'Отменен' }}</span>
                <span v-if="request.status == 'inprogress'" class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold">{{ 'В процессе' }}</span>
                <span v-if="request.status == 'success'" class="rounded bg-green-400 py-1 px-3 text-xs font-bold">{{ 'Успешно' }}</span>
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Дата</span>
                {{ request.created_at }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Комментарий</span>
                {{ request.operator_comment != null ? request.operator_comment.comment : '' }}
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</template>
<script>
import { getAllHistory } from '@/rest/api';

export default {
    data() {
        return {
            requests: [],
        }
    },
    methods: {
        getRequests() {
            getAllHistory()
                .then(res => this.requests = res);
        },
    },
    created() {
        if (this.$store.state.user.type != 'backoffice') {
            return this.$router.push('/');
        }
        this.getRequests();
    }
}
</script>