<template>
  <div class="min-h-32">
    <div class="antialiased bg-gray-100 dark-mode:bg-gray-900">
      <div
        class="w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800"
      >
        <div
          class="flex flex-col max-w-screen-xl w-full px-4 mx-auto items-center justify-between px-6 px-8"
        >
          <div class="flex items-center justify-between w-full p-4">
            <RouterLink
              to="/"
              href="#"
              class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline"
              >CRM</RouterLink
            >
            <RouterLink
              to="/"
              href="#"
              class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              >Главная</RouterLink
            >
            <RouterLink
              v-show="this.$store.state.user.type == 'backoffice'"
              to="/history"
              href="#"
              class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              >История статусов</RouterLink
            >
            <a
              @click="logoutAction"
              class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              href="#"
              >Выход</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import { logout } from "@/rest/api";
// import { RouterLink } from 'vue-router';

export default {
  data() {
    return {
      open: true,
    };
  },
  methods: {
    logoutAction() {
      logout().then(() => {
        localStorage.removeItem("token");
        this.$store.commit("changeAuthState", false);
        this.$store.commit("changeUserState", {});
        this.$router.push({ name: "login" });
      });
    },
  },
};
</script>
