<template>
  <div class="flex items-center justify-center p-12">
    <Form class="mx-auto w-full max-w-[550px]" :validation-schema="schema" @submit="createRequestForm">
        <div class="mb-5" v-show="$store.state.user.type == 'backoffice'">
        <label
            for="operator"
            class="mb-3 block text-base font-medium text-[#07074D]"
        >
            Ответственный
        </label>
        <select v-model="request.operator_id" class="w-full text-xl font-medium rounded border-2 border-purple-700 text-gray-600 h-14 pl-5 bg-white hover:border-gray-400 focus:outline-none appearance-none"
          required
        >
            <option value="" selected>Текущий оператор</option>
            <option v-for="operator in operators" :value="operator.id" :key="operator.id">{{ operator.name }}</option>
        </select>
        </div>
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Счет клиента
          </label>
          <ErrorMessage
            class="mb-3 block text-base font-medium text-red-600"
            name="account"
          >
          </ErrorMessage>
          <Field
            type="text"
            name="account"
            id="account"
            placeholder="Номер счета"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            v-model.number="request.account"
          />
        </div>
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            ФИО клиента
          </label>
          <ErrorMessage
            class="mb-3 block text-base font-medium text-red-600"
            name="full_name"
          >
          </ErrorMessage>
          <Field
            type="text"
            name="full_name"
            id="full_name"
            placeholder="ФИО"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            v-model="request.full_name"
            required
          />
        </div>
        <div class="mb-5">
          <label
            for="phone"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Номер телефона клиента
          </label>
          <ErrorMessage
            class="mb-3 block text-base font-medium text-red-600"
            name="phone"
          >
          </ErrorMessage>
          <Field
            type="phone"
            name="phone"
            id="phone"
            placeholder="+992000000000"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            v-model="request.phone"
            :rules="validatePhone"
          />
        </div>
        <div class="mb-5" v-if="this.$store.state.user.type == 'backoffice'">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Комментарий
          </label>
          <span
            class="mb-3 block text-base font-medium text-red-600"
            v-show="errors.comment"
          >
            {{ errors.comment }}
          </span>
          <Field
            type="text"
            name="comment"
            id="comment"
            placeholder="Комментарий"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            v-model="request.comment"
            v-if="this.$store.state.user.type == 'backoffice'"
          />
        </div>
        <div>
            <button
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
            >
                Создать
            </button>
        </div>
    </Form>
    </div>
</template>
<script>
import { createRequest, getAllOperators } from '@/rest/api';
import { mapState } from 'vuex';
import { Form, Field, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';

export default {
    data() {
        return {
            request: {},
            errors: {},
            operators: [],
            schema: yup.object({
              full_name: yup.string().required('Обязательное поле'),
              account: yup.string().required('Обязательное поле')
                                  .matches(/^[0-9]+$/, 'В этом поле должны быть только числа'),
              phone: yup.string().required('Обязательное поле')
                        .matches(/^[+][0-9]+$/, 'Неправильный формат телефона')
            })
        }
    },
    computed: mapState(['user']),
    components: {
      Form,
      Field,
      ErrorMessage,
    },
    methods: {
        validateName(value) {
          if (!value) {
            return 'Это поле обязательна';
          }
        },
        validateAccount(value) {
          const regex = /^[0-9]+$/;
          if (!regex.test(value)) {
            return 'Это поле должна иметь только числа';
          }
        },
          validatePhone(value) {
            const regex = /^[+][0-9]{9}$/;
            if (!regex.test(value)) {
              return 'Введен неправильный номер телефона';
            }
          },
        createRequestForm() {
            const params = {...this.request};

            this.errors = {};
            createRequest(params)
                .then((res) => {
                    if (!res.messages) {
                        return this.$router.push('/');
                    }
                    for (let key in res.messages) {
                        this.errors[key] = res.messages[key][0];
                    }
                })
        },
        getOperators() {
            getAllOperators()
                .then(res => {
                    this.operators = res;
                });
        }
    },
    created() {
        if (this.user.type == 'backoffice') {
            this.getOperators();
        }
    }
};
</script>
