<template>
    <div class="mx-auto w-full max-w-[550px]" v-if="loading">
        <div class="mb-5" v-show="this.$store.state.user.type == 'backoffice'">
        <label
            for="operator"
            class="mb-3 block text-base font-medium text-[#07074D]"
        >
            Ответственный
        </label>
        <select v-model="request.operator_id" class="w-full text-xl font-medium rounded border-2 border-purple-700 text-gray-600 h-14 pl-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
            <option :value="this.$store.state.user.id">Текущий оператор</option>
            <option v-for="operator in operators" :value="operator.id" :key="operator.id">{{ operator.name }}</option>
        </select>
        </div>
        <div class="mb-5">
        <label
            for="status"
            class="mb-3 block text-base font-medium text-[#07074D]"
        >
            Статус
        </label>
        <select v-model="request.status" class="w-full text-xl font-medium rounded border-2 border-purple-700 text-gray-600 h-14 pl-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                <option v-for="status in Object.keys(statuses)" :value="status" :key="status">{{ statuses[status] }}</option>
        </select>
        </div>
        <div class="mb-5" v-if="this.$store.state.user.type == 'backoffice'">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Комментарий
          </label>
          <span
            class="mb-3 block text-base font-medium text-red-600"
            v-show="errors.comment"
          >
            {{ errors.comment }}
          </span>
          <input
            type="text"
            name="comment"
            id="comment"
            placeholder="Комментарий"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            v-model="request.operator_comment.comment"
            required
          />
        </div>
        <div>
            <button
            @click="updateRequestForm"
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
            >
                Обновить
            </button>
        </div>
    </div>
</template>
<script>
import { getOneRequest, getAllOperators, updateRequest } from '@/rest/api';
import { mapState } from 'vuex';
import statuses from '@/configs/statuses';

export default {
    data() {
        return {
            operators: [],
            request: {},
            errors: {},
            statuses,
            loading: false
        }
    },
    computed: mapState(['user', 'isAuth']),
    methods: {
        getRequest() {
            const id = this.$route.params.id;
            getOneRequest(id)
                .then(res => {
                    if (res.status == 'success' || res.status == 'cancelled' || this.$store.state.user.type == 'operator') {
                        return this.$router.push('/');
                    }
                    this.request = res;
                    if (this.request.operator_comment == null) {
                        this.request.operator_comment = {};
                    }
                    this.loading = true;
                }
                );
        },
        updateRequestForm() {
            const id = this.$route.params.id;
            const params = {...this.request, id };
            updateRequest(params)
                .then(() => {
                    this.$router.push('/');
                });
        },
        getOperators() {
          getAllOperators()
              .then(res => {
                this.operators = res
              });
        }
    },
    created() {
        this.getRequest();
        if (this.user.type == 'backoffice') {
            this.getOperators();
        }
    }
}
</script>