<template>
  <NavbarComponent v-show="this.$store.state.isAuth" />
  <router-view/>
</template>
<script>
import NavbarComponent from './components/NavbarComponent.vue';
import { getToken } from './configs/helpers';
export default {
  components: {
    NavbarComponent,
  },
  created() {
    if (getToken()) {
      this.$store.commit('changeAuthState', true);
      this.$store.dispatch('getUserData');
    }
  },
  updated() {
    if (getToken()) {
      this.$store.commit('changeAuthState', true);
      this.$store.dispatch('getUserData');
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
